body, html {
    height: 100%;
    margin: 0;
    font-family: Roboto, sans-serif;
}

* {
    box-sizing: border-box;
}

.bg-image {
    height: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img1 { 
    background-image: url(background1.jpg);
    filter: brightness(80%);
}

.img2 {
    opacity: 70%;
}

.bg-text, #slogan {
    color: rgba(255, 255, 255, 0.644);
    font-weight: bold;
    font-family: Arial;
}

.titles {
    font-size:100px; 
    text-align:center;
}

#chisiamo {
    font-size: 30px; 
    text-align:center;
}

.avatars-container {
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.avatar-block {
    text-align: center;
    margin: 10px;
}

.avatar {
    display: block;
    margin: 0 auto;
    border: 1px solid #CCC;
    padding: 5px;
}

.name {
    margin-top: 10px;
    font-size: 30px;
}

.caption {
    margin-top: 5px;
    font-size: 19px;
    color: #555;
}

.progetti {
    width: auto; 
    height: auto; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.isliday {
    max-width: 40%;
    max-height: 20%;
}

.aplinapp {
    max-width:80%;
    max-height:80%;
}

.location{
    display: flex;
    flex-direction:  column;
    margin-right: 35%;
    font-size: 125%;
    text-align: center;
}

.location-content {
    text-align: right;
    margin-right: 275px;
    margin-top:-350px;
}

.mappa-img {
    max-width: 35%;
    border-radius: 15%;
    margin-left: 70%;
}


.icons{
    display: flex;
    flex-direction: row;
    gap: 15px;
    max-width: 50px; 
    max-height: 50px;
    position: relative;
    transform: translate(400%,0%);
}

.footer{
    background-color: #34444c;
    color: white;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: bisque;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0.2);
    z-index: 1;
}
.button{
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    background-color: transparent;
    color: black;
    border: 2px solid transparent;
}
.button{
    transition-duration: 0.4;
}
.button:hover{
    background-color: #11a850;
    color: white;
}
.overlay {
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}
.open{
    font-size: 30px;
    cursor:pointer
}
.logo-container{
    display: flex;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    transform: translate(25%,200%);
}
.logo{
    max-width: 100px;
    height: auto;
}
.logo-text{
    margin-left: 10px;
    left: 100%;
}
.logo-name {
    margin: 0;
    font-size: 3em;
    color: white;
}

.logo-slogan {
    margin: 0;
    font-size: 1.5em;
    color: white;
}

@media (max-width: 600px) {
    .logo-container {
        justify-content: center;
        text-align: center;
    }

    .logo-text {
        margin-left: 0;
        margin-top: 10px;
    }
}